# No backup files, please
*~

# Don't include anything but the documentation PDFs from the documentation folder
doc/raw/

# Don't include any doxygen files
*/doxyfile

# We don't need any screenshots to be added to out GitHub page.
screenshots/
